<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.central.childrensapp" >

    <application
        android:name=".ApplicationVariables"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".DialActivity"/>
        <activity android:name=".InformationActivity"/>

        <activity android:name=".Tab_Dialpad"/>
        <activity android:name=".Tab_PhoneGood"/>
        <activity android:name=".Tab_PhoneBad"/>
        <activity android:name=".Tab_NewContact"/>
    </application>

</manifest>
